<!doctype html>
<html>

<head lang="en">
    <link rel="icon" type="image/png" href="https://d1.awsstatic.com/Developer%20Marketing/developer-center/community-builder/icons/AWS-Community-Builder_Icon_Hands_130px.9c77762fe71fdf8da15bea3dde6b96f40119ece8.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Rawa.dev | A blog by Rawand Ahmed Shaswar</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="title" content="Rawa.Dev | Rawand Ahmed Shaswar's Blog">
    <meta name="description" content="A personal blog on Python, Swift & AWS">
    <meta name="keywords" content="Swift, Python, AWS, Rawand Ahmed Shaswar">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Rawand Ahmed Shaswar">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.js" integrity="sha512-NXopZjApK1IRgeFWl6aECo0idl7A+EEejb8ur0O3nAVt15njX9Gvvk+ArwgHfbdvJTCCGC5wXmsOUXX+ZZzDQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K5BGSK4Y10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K5BGSK4Y10');
    </script>
    <style>
        body {
            font-family: 'Sahel', sans-serif;
        }
        /* When postTitle in hover, make a rectangle yellowish background appear */
        .postTitle:hover {
            background-color: rgba(234, 250, 130, 0.5)
        }
    </style>

</head>


<body dir="rtl" class="bg-white dark:bg-[#2f3542] dark:text-white">
    <!-- A Tailwind Nav bar with rawa.dev as the title and at the end of the screen, a Follow Me Button -->
    <nav class="w-full flex relative justify-between items-center mx-auto px-8 h-20 w-full md:w-3/5">
        <!-- logo -->
        <div class="inline-flex">
            <a class="_o6689fn" href="/"></a>
            <div class="md:block">
                <a class="inline-block rounded-full" href="/">
                    <div class="flex items-center relative cursor-pointer whitespace-nowrap font-black logo text-lg">
                        <svg class="pr-2" width="23" height="20">
                            <rect class="fill-black dark:fill-white" width="300" height="100"/>
                          </svg>
                        <span class="pr-2 font-semibold text-md md:text-lg">rawa.dev</span>

                    </div>
                </a>
            </div>
            </a>
        </div>
        <!-- end logo -->

        <!-- Nav Pt2 -->
        <div class="flex-initial">
            <div class="flex justify-end items-center relative gap-4">

                <div class="flex mr-4 items-center gap-2">
                    <a class="inline-block py-2 px-3 rounded-full" href="https://twitter.com/RawandShaswar" target="_blank">
                        <div class="flex items-center relative cursor-pointer whitespace-nowrap">🚀</div>
                    </a>
                    <a class="flex items-center relative cursor-pointer whitespace-nowrap text-sm hover:shadow-lg" href="https://github.com/rawandahmad698/blog" target="_blank">Github</a>
                </div>

                <div class="block">
                    <div class="inline relative">
                        <button type="button" class="hover:shadow-lg bg-black dark:text-white dark:bg-white">
                            <div class="px-2 pt-1 pb-1">
                                <a class="text-white text-xs dark:text-black md:text-lg font-semibold" href="https://twitter.com/RawandShaswar" target="_blank">Follow Me</a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end followMe -->
    </nav>
    <!-- end navbar -->
{#    <div class="w-full flex justify-start items-start mx-auto px-8 h-20 md:w-3/5">#}
    <div class="w-full mx-auto px-8 h-20 md:w-3/5">
        {% for post in posts %}
{#            Jinja if statmenet #}
            {% if post.is_en %}
                    <div class="ring-2 ring-[#1dd1a1]/20 rounded mb-2" dir="ltr">
            <div class="pl-2 inline-flex gap-4">
                <p class="pt-2 dateFor text-slate-400/60 text-[14px] font-bold">EN</p>
                <p class="pt-2 dateFor{{post.id}} text-slate-400 text-[14px] font-light">Techfest Event</p>
                <h1><a class="text-black dark:text-white text-md font-bold text-[18px] pt-1 pb-1 pr-1 pl-1 postTitle" href="/post?pid={{post.id}}">{{post.title}}</a></h1>
            </div>
                        <script>
            moment.locale("en");
            // Get moment.js from timestamp
            var timestamp = "{{ post.timestamp }}"
            var timestamp_int = parseInt(timestamp)
            var date = moment.unix(timestamp).format('MMMM Do, YYYY');
            // Set <p> date_label to date
            document.getElementsByClassName("dateFor{{post.id}}")[0].innerHTML = date;
        </script>
        </div>
            {% else %}
        <div class="inline-flex gap-4">
            <!-- Make text RTL in tailwindcss -->
            <p class="pt-2 dateFor{{post.id}} text-slate-400 text-[14px] font-light">-</p>
            <h1><a class="text-black dark:text-white text-md font-bold text-[18px] pt-1 pb-1 pr-1 pl-1 postTitle" href="/post?pid={{post.id}}">{{post.title}}</a></h1>
        </div>
        <script> 
            moment.locale("ku");
            // Get moment.js from timestamp
            var timestamp = "{{ post.timestamp }}"
            var timestamp_int = parseInt(timestamp)
            var date = moment.unix(timestamp).format('MMMM Do, YYYY');
            // Set <p> date_label to date
            document.getElementsByClassName("dateFor{{post.id}}")[0].innerHTML = date;
        </script>
            <br>
            {% endif %}
        {% endfor %}

    </div>

    <link rel="preconnect" href="//fdn.fontcdn.ir">
    <link rel="preconnect" href="//v1.fontapi.ir">
    <link href="https://v1.fontapi.ir/css/Sahel:300;400;600;700;900" rel="stylesheet">

</body>

</html>